[core]
	precomposeunicode = true
	quotepath = false
	# -R: ANSI Color Escape Sequence
	# -q: quiet. off the bell
	pager = less -q -R
	excludesfile = $HOME/.gitignore_global

[user]
	name = mom0tomo
	email = momo76w@gmail.com

[color]
	ui = auto

[diff]
	tool      = vimdiff
	algorithm = histogram
	compactionHeuristic = true

[push]
	default = simple

[merge]
	tool = vimdiff

[alias]
	st = status
	sw = switch
	re = restore
	cm = commit -m
  pushf = push --force-with-lease
	graph =  log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	dmb = "!f () { git branch --merged | egrep -v '\\*|master|develop' | xargs git branch -d; }; f"
  r = "!f() { git reflog -n 50 --pretty='format:%gs' | perl -anal -e '$seen{$1}++ or print $1 if /checkout:.*to (.+)/'; }; f"
  sha = "!f() { git rev-parse "${1-HEAD}"; }; f"
  fixit = commit --amend --no-edit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
