.orig
.org

########################################
# Linux
*~

# Linux trash folder
.Trash-*

########################################
# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

########################################
# OSX
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

