[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/mo-watanabe/.gitignore_global
	precomposeunicode = true
	quotepath = false
	pager = less -x2

[user]
	name = momo
	email = mo-watanabe@dip-net.co.jp

[color]
	diff = auto
	status = auto
	branch = auto

[push]
	default = simple

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = /Users/mo-watanabe/.stCommitMsg

[alias]
	co = checkout
	cm = commit -m